<div class="page-content">
    <div class="container">
        <div class="page-header">
            <h1>Data List <small>{{ results.total_rows}} results</small></h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{#if results.rows}}
                    <ul class="list-group">
                        {{#each results.rows}}
                            <li class="list-group-item clearfix">
                                <a href="{{{../link_base}}}{{id}}">{{id}}</a>
                                <a href="{{{../link_base}}}{{id}}" class="pull-right delete-link"><span class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></span></a>
                            </li>
                        {{/each}}
                    </ul>
                {{else}}
                    <p>No results available</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    {{!--TODO: fix require-config.js so that jquery is loaded --}}
    jQuery(document).ready(function(){
        jQuery(document).on('click','delete-link',function(e){
            e.preventDefault();
            var t = jQuery(this);
            if(confirm('Are you sure? This action cannot be undone.')){
                $.ajax({
                    url: t.attr('href'),
                    type: 'DELETE',
                    success: function(result) {
                        if(result && result.success){
                            t.closest('.list-group-item').fadeOut(400,function(){ jQuery(this).remove() });
                        }else{
                            console.log(result);
                        }
                    }
                });
            }
        });
    });
</script>