<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Subject</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-3 text-right">
                <label for="result[subject][age]">Age</label>
            </div>
            <div class="col-sm-9">
                <div class="default">
                    {{results.value.subject.age}}
                </div>
                <div class="edit form-group">
                    <input type="text" class="form-control" name="result[subject][age]" value="{{results.value.subject.age}}" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 text-right">
                <label for="result[subject][sex]">Gender</label>
            </div>
            <div class="col-sm-9">
                <div class="default">
                    {{results.value.subject.sex}}
                </div>
                <div class="edit form-group">
                    <input type="text" class="form-control" name="result[subject][sex]" value="{{results.value.subject.sex}}" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 text-right">
                <label for="result[subject][name]">Name</label>
            </div>
            <div class="col-sm-9">
                <div class="default">
                    {{results.value.subject.name}}
                </div>
                <div class="edit form-group">
                    <input type="text" class="form-control" name="result[subject][name]" value="{{results.value.subject.name}}" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 text-right">
                <label for="result[subject][race]">Race</label>
            </div>
            <div class="col-sm-9">
                <div class="default">
                    {{results.value.subject.race}}
                </div>
                <div class="edit form-group">
                    <input type="text" class="form-control" name="result[subject][race]" value="{{results.value.subject.race}}" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 text-right">
                <label for="result[subject][image_url]">Image URL</label>
            </div>
            <div class="col-sm-9">
                <div class="default">
                    {{results.value.subject.image_url}}
                </div>
                <div class="edit form-group">
                    <input type="text" class="form-control" name="result[subject][image_url]" value="{{results.value.subject.image_url}}" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 text-right">
                <label for="result[subject][mental_illness]">Signs of Mental Illness</label>
            </div>
            <div class="col-sm-9">
                <div class="default">
                    {{results.value.subject.mental_illness}}
                </div>
                <div class="edit form-group">
                    <input type="text" class="form-control" name="result[subject][mental_illness]" value="{{results.value.subject.mental_illness}}" />
                </div>
            </div>
        </div>        
    </div>
</div>